body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    /* Black background for more focus */
}

#game-container {
    text-align: center;
}

#wallet-connect {
    margin-bottom: 20px;
    text-align: center;
}

#connectButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
}

#walletInfo {
    margin-top: 10px;
    color: #aaa;
}